.grp{
    padding: 2rem;
    margin-top: 2rem;
}

.games{
    display: grid;
    justify-content: center;
    grid-template-columns:  repeat(auto-fill, 280px);
    gap: 1rem;
}

.game{
    border-radius: 1rem;
    /* padding: 0; */
    margin: 1rem;
    transition: transform .1s;
}

.gameImg{
    border: 0.5rem solid white ;
    width: 100%;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
}

.gameName{
    text-align: center;
}

.game:hover{
    transform: scale(1.1);
}

.newGameContainer{
    display: flex;
    justify-content: center;
}

.newGame{
    display: inline-flex;
    height: 20rem;
    justify-content: center;
    background-color: black;
    z-index: -2;
    position: relative;
    border-radius: 2rem;
}

.imgGradient{
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.newGameImg {
    height: 100%;
    position:relative;
    border-radius: 1rem 0 0 1rem;
    z-index: -1;
}

.devlog{
    display: grid;
    justify-items: center;
    padding: 2rem;
}