.layout{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.gameframe{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.game{
    display:block;
    height:60vh;
    background-color: black;
}

.bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    grid-auto-flow: column;
}

.title{
    padding: 10px;
    color: black;
}

.barIcon{
    width: 1.75rem;
    padding: 0.25rem;
}