.navbar {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 1rem;
  }

.container{
  text-align: center;
}

.topContent {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.icon > img{
  width: 5rem;
}

.icon > img:hover{
  cursor: pointer;
}

.icon:first-child > img{
  border-radius: 2rem 0 0 2rem;
  padding-left: 2rem;
}

.icon:last-child > img{
  border-radius:  0 2rem 2rem 0;
  padding-right: 2rem;
}

.logo > img{
  width: 13rem;
  border-radius: 7rem 7rem 1rem 1rem;
}

.img{
  background-color: black;
  padding: 1rem;
}

.socialIcon{
  width: 2.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.socialIcon:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2s ease;
}